@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');

body, p { margin: 0; }
#box1 {
    position: relative;
    width: 100vw;
    height: 56.25vw;
    left: 0;
    top: 0;
    background-color: #000000;
}
#box1 > iframe {
    width: 100%;
    height: 100%;
}
#box1 > p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Rubik Moonrocks', cursive;
    font-size: 7vw;
    color: rgba(255, 0, 0, 0.6);
}
